*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#0d0d0d;
padding:20px;
color:#fff;
}

.container{
max-width:500px;
margin:auto;
}

h2{
text-align:center;
margin-bottom:25px;
font-size:28px;
}

.match{
background:#1b1b1b;
border-radius:15px;
padding:18px;
margin-bottom:18px;
border:1px solid #2b2b2b;
}

.league{
display:inline-block;
background:#e60023;
padding:6px 14px;
border-radius:20px;
font-size:13px;
font-weight:600;
margin-bottom:15px;
}

.teams{
display:flex;
justify-content:space-between;
align-items:center;
font-weight:700;
font-size:17px;
}

.vs{
background:#fff;
color:#000;
padding:6px 10px;
border-radius:50px;
font-size:13px;
font-weight:bold;
}

.kickoff{
margin-top:18px;
text-align:center;
color:#bdbdbd;
font-size:14px;
}

@media(max-width:480px){

.teams{
font-size:15px;
}

h2{
font-size:24px;
}

}