*{
    box-sizing:border-box;
}

body{
    margin:0;
    background:#061624;
    color:#fff;
    font-family:Arial,sans-serif;
}

.container{
    width:100%;
    max-width:420px;
    min-height:100vh;
    margin:auto;
    padding:24px 18px;
    text-align:center;
}

/* LOGO */

.logo{
    font-size:38px;
    font-weight:900;
    margin-bottom:12px;
}

.subtitle{
    font-size:18px;
    color:#bfc7cf;
    margin-top:6px;
}

/* MATCH */

.match-card{
    background:#102d42;
    padding:24px 20px;
    border-radius:20px;
    margin-top:28px;
}

.match-card h2{
    font-size:28px;
    margin:0 0 18px;
    line-height:1.4;
}

.time{
    font-size:20px;
    margin:18px 0 24px;
}

/* BUTTON */

button{
    width:100%;
    height:58px;
    border:none;
    border-radius:15px;
    font-size:20px;
    font-weight:bold;
    background:#00c853;
    color:#fff;
    cursor:pointer;
}

/* BACK */

.back{
    display:block;
    text-align:left;
    font-size:20px;
    color:#fff;
    text-decoration:none;
    margin-bottom:20px;
}

/* LIVE */

.live{
    display:inline-block;
    background:#e00000;
    padding:8px 18px;
    border-radius:50px;
    font-size:16px;
    font-weight:bold;
}

/* VIDEO */

.video-box{
    margin-top:24px;
}

video{
    width:100%;
    aspect-ratio:16/9;
    height:auto;
    border-radius:16px;
    background:#000;
}

/* DONATE */

.donate-box{
    background:#102d42;
    padding:22px 18px;
    border-radius:20px;
    margin-top:24px;
}

.donate-box h2{
    font-size:24px;
    margin-bottom:10px;
}

.donate-box p{
    font-size:15px;
    line-height:1.7;
    color:#d5d5d5;
}

.donate{
    height:56px;
    font-size:18px;
    background:#ff4081;
    margin-top:15px;
}

/* INFO */

.info{
    background:#102d42;
    padding:22px 18px;
    border-radius:20px;
    margin-top:24px;
    text-align:left;
}

.info h3{
    font-size:22px;
    text-align:center;
    margin-bottom:10px;
}

.info p{
    font-size:15px;
    line-height:1.7;
    color:#d5d5d5;
}