*{
box-sizing:border-box;
}


body{

margin:0;
background:#061624;
color:white;
font-family:Arial,sans-serif;

}



.container{

width:100%;
max-width:520px;
min-height:100vh;
margin:auto;
padding:25px 20px;
text-align:center;

}



.logo{

font-size:34px;
font-weight:800;

}



.subtitle{

font-size:18px;
color:#aaa;
margin-bottom:30px;

}



.match-card{

background:#102d42;
padding:30px 20px;
border-radius:20px;
margin-top:25px;

}



.match-card h2{

font-size:26px;

}



.time{

font-size:20px;
margin:20px 0;

}



button{

width:100%;
height:60px;
border:none;
border-radius:15px;
font-size:18px;
font-weight:bold;
background:#00c853;
color:white;

}



.back{

display:block;
text-align:left;
color:white;
font-size:18px;
text-decoration:none;
margin-bottom:20px;

}



.live{

display:inline-block;
background:red;
padding:12px 25px;
border-radius:30px;
font-weight:bold;
font-size:18px;

}



.video-box{

margin-top:20px;

}



video{

width:100%;
height:280px;
border-radius:18px;
background:black;

}



.donate-box,
.info{

background:#102d42;
padding:25px 20px;
border-radius:20px;
margin-top:25px;
font-size:16px;
line-height:1.6;
text-align:left;

}



.donate-box h2,
.info h3{

text-align:center;

}



.donate{

background:#ff4081;

}