*{
box-sizing:border-box;
}

body{
margin:0;
background:#061624;
color:white;
font-family:Arial, sans-serif;
}


.container{

width:100%;
max-width:600px;
min-height:100vh;
margin:auto;
padding:35px 25px;
text-align:center;

}


/* LOGO */

.logo{

font-size:42px;
font-weight:900;
margin-top:10px;

}


.subtitle{

font-size:22px;
color:#ccc;
margin-top:15px;

}



/* CARD JADWAL */

.match-card{

background:#102d42;
padding:35px 25px;
border-radius:25px;
margin-top:40px;

}


.match-card h2{

font-size:32px;
line-height:1.3;

}


.time{

font-size:24px;
margin:25px 0;

}



/* BUTTON */

button{

width:100%;
height:65px;
border:none;
border-radius:18px;
font-size:22px;
font-weight:bold;
background:#00c853;
color:white;

}



/* BACK */

.back{

display:block;
text-align:left;
font-size:22px;
color:white;
text-decoration:none;
margin-bottom:30px;

}



/* LIVE */

.live{

display:inline-block;
background:#e00000;
font-size:22px;
font-weight:bold;
padding:15px 35px;
border-radius:40px;
margin:15px 0;

}



/* VIDEO */

.video-box{

width:100%;
margin-top:30px;

}


video{

width:100%;
height:340px;
border-radius:22px;
background:black;

}



/* DONATE */

.donate-box{

background:#102d42;
padding:30px 25px;
border-radius:25px;
margin-top:30px;
text-align:center;

}


.donate-box h2{

font-size:30px;

}


.donate-box p{

font-size:19px;
line-height:1.7;

}



.donate{

background:#ff4081;
height:70px;
font-size:22px;

}



/* INFO */

.info{

background:#102d42;
padding:30px 25px;
border-radius:25px;
margin-top:30px;
text-align:left;

}


.info h3{

font-size:26px;
text-align:center;

}


.info p{

font-size:18px;
line-height:1.7;

}